
html {
    scroll-behavior: smooth;
    }


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url(img/code.avif);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

img {
    height: 300px;
    border-radius: 50%;
    margin-top: 50px;
   
   
}

.sobremi {
   font-size: 30px;
   margin-left: 100px;
   color: white;
   font-style: normal;
   padding: 0.1em;
  
   
    
}
 
 
 .titulos {
     background-color: #b2f6b1;
     color: rgb(65, 64, 64);
    padding-left: 20px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;

 }
 
 .fondo {
     text-align: center;
     background-color: #8eed8a;
     color: white;
 }
 
 h1 {
     text-align: center;
     padding: 2px 2px;
 }
 
 

 a {
   font-size: 20px;
   color: black;
   justify-content: center;

   }

 .logo {
    height: 25px;
    
}

